<footer class="site-footer">
    <div class="footer-inner">
        <span class="footer-poshan">
            An initiative by
            <a href="https://poshan.us" class="footer-link footer-logo-link">
                <img src="/assets/images/Poshan-Text-Flour.png" alt="Poshan" class="footer-poshan-logo" />
            </a>
        </span>
        <span class="footer-copy">© <script>document.write(new Date().getFullYear())</script> <a href="https://poshan.us" class="footer-link">Poshan, Inc.</a> All rights reserved.</span>
    </div>
</footer>