<nav class="site-nav">
  <a href="/" class="nav-logo" target="_self">
    <img src="/assets/images/rotitales_roti_on_fire_logo.png" alt="Roti Tales" />
    <span>Roti Tales</span>
  </a>
  <div class="nav-pills">
    <div class="nav-pill-wrap">
      <span class="nav-pill">Health 101</span>
      <div class="pill-dropdown">
        <a href="https://www.instagram.com/stories/highlights/18087218473855282/" class="pill-dd-link">
          <img src="/assets/icons/instagram-flour.svg" alt="Instagram" />
          <span>Instagram</span>
        </a>
        <a href="https://www.youtube.com/@rotitales" class="pill-dd-link">
          <img src="/assets/icons/youtube-flour.svg" alt="YouTube" />
          <span>YouTube</span>
        </a>
      </div>
    </div>
    <div class="nav-pill-wrap">
      <span class="nav-pill">Roti 101</span>
      <div class="pill-dropdown">
        <a href="https://www.instagram.com/stories/highlights/18098705317909029/" class="pill-dd-link">
          <img src="/assets/icons/instagram-flour.svg" alt="Instagram" />
          <span>Instagram</span>
        </a>
        <a href="https://www.youtube.com/@rotitales" class="pill-dd-link">
          <img src="/assets/icons/youtube-flour.svg" alt="YouTube" />
          <span>YouTube</span>
        </a>
      </div>
    </div>
    <div class="nav-pill-wrap">
      <span class="nav-pill">Fun &infin;</span>
      <div class="pill-dropdown">
        <a href="https://www.instagram.com/stories/highlights/18072866213573793/" class="pill-dd-link">
          <img src="/assets/icons/instagram-flour.svg" alt="Instagram" />
          <span>Instagram</span>
        </a>
        <a href="https://www.youtube.com/@rotitales" class="pill-dd-link">
          <img src="/assets/icons/youtube-flour.svg" alt="YouTube" />
          <span>YouTube</span>
        </a>
      </div>
    </div>
  </div>
</nav>
