<nav class="site-nav">
  <a href="/" class="nav-logo">
    <img src="/assets/images/Roti Tales - Logo.png" alt="Roti Tales" />
    <span>Roti Tales</span>
  </a>
  <div class="nav-pills">
    <a href="https://www.youtube.com/playlist?list=PLca7YZGvJBnX8Q_pfbBsePRChDufQQVE2" class="nav-pill">Education</a>
    <a href="https://www.youtube.com/playlist?list=PLca7YZGvJBnWKEp7w2-JZA-WZy-pxdEPq" class="nav-pill">Bollywood</a>
    <a href="https://www.youtube.com/playlist?list=PLca7YZGvJBnVEos_iIyBtttF0ZAom1R7j" class="nav-pill">Vibes</a>
  </div>
</nav>
