---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

body {
    background-color: #fff5e8;
    color: #ab4f2e;
    font-family: 'Kufam', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.site-header,
.site-header a {
    color: #4d000a;
}

.site-header-image {
    background-image: url('/assets/images/Roti Tales - Banner.png');
    background-position: center;
    background-size: cover;
    height: 80px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.site-header-logo-title a {
    align-items: center;
    display: flex;
    margin: 32px;
    position: fixed;
}

.site-header-logo-title img {
    border-radius: 20%;
    height: 232px;
}

.site-main {
    margin: 24px;
    padding-top: 64px; 
    position: fixed;
    top: 232px; // same as height of logo image
}

.site-title {
    font-size: 3.2rem;
    font-weight: bold;
    margin-left: 32px;
}

.social-icons {
    align-items: center;
    display: flex;
    justify-content: right;
    padding-right: 24px;
    padding-top: 4px;
}

.social-icons a {
    margin: 8px;
}

.social-icons img {
    width: 24px;
    filter: invert(11%) sepia(33%) saturate(4960%) hue-rotate(331deg) brightness(81%) contrast(115%);
}

.social-icons img:hover {
    transform: scale(1.4);
}
