// ---
// ---

// @import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

body {
    background-color: #fff5e8;
    color: #ab4f2e;
    font-family: 'Kufam', sans-serif;
    margin: 0;
    padding-top: 80px;
    text-align: justify;
}

.site-header {
    color: #4d000a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-image: url('/assets/images/Roti Tales - Banner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 48px;
    margin-right: 12px;
}

.site-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.social-icons a {
    margin-left: 12px;
}

.social-icons img {
    width: 24px;
    filter: invert(11%) sepia(33%) saturate(4960%) hue-rotate(331deg) brightness(81%) contrast(115%);
}

.social-icons img:hover {
    transform: scale(1.4);
}
