<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
  
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">
  
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
  
<body>
  {% include header.html %}
  
  <main class="site-main">
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>
